<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urbanor</title>
    <!-- <link rel="stylesheet" href="../../public/css/fontawesome-all.min.css"> -->
    <!-- <link rel="stylesheet" href="../../public/css/estilo.css"> -->
    <link rel="stylesheet" href="../../../public/css/es.css">
</head>
<body style="display: none;">
    <div class="m-3">
        <h1 id="titleH1">Bienvenido</h1>

        <div class="header">
            <a class="btn btn-success" href="../user" id="btnUser">Usuarios</a>
            <a class="btn btn-warning" href="../mapa" id="btnMapa">Mapa Urbanor SA</a>
            <a class="btn btn-secondary" href="../reserva/" id="btnReservas">Reservas</a>
            <a class="btn btn-secondary" href="../historial-migracion/" id="btnHistorialMigracion">Lotes actualizados</a>
            <button class="btn btn-danger" type="button" id="btnLogout">Salir</button>
        </div>

        <div class="main">
            <div class="mt-4 col-10">
                <p>Bienvenido a la página de Urbanor SA</p>
            </div>
        </div>
    </div>

    <script src="index.js"></script>
</body>
</html>